<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Gimme button
    </title>
    <link rel=stylesheet href='gimme-style.css'>
    <link rel=stylesheet href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css'>
  </head>
  <body>

	<% if (loggedIn) { %>
	
	<form method="POST">
	
		<% if (donateCount > 0) { %>
		<%// Logged in, already donated %>

			<button class="gimme-thanks btn btn-small btn-success" type="submit">
				<i class="glyphicon glyphicon-heart"></i>
				Thanks!
			</button>
			<p><%= donateCount %> donates

		<% } else { %>
		<%// Logged in, not donated %>
		
		<button class="gimme-button btn btn-small btn-primary" type="submit">
			<i class="glyphicon glyphicon-fire"></i>
			Gimme
		</button>
		
		<% } %>

	<% } else { %>
	<%// Not logged in %>

	<form action="/login" method="get" target="_blank">
		
		<button class="gimme-button btn btn-small btn-primary" type="submit">
			<i class="glyphicon glyphicon-fire"></i>
			Gimme
		</button>

	<% } %>
		<input type="hidden" name="url" value="<%= url %>">
	</form>
	<small>X number of people have donated Y btc</small>
  </body>
</html>
