<!doctype html>
<meta charset=utf-8>
<title>Hi</title>
<link rel=stylesheet href='style.css'>
<body>

	<header>

<% if (loggedIn) { %>

		<p>Logged in as <%= user.id %>. <a href='/logout'>Log out</a>

<% } else { %>

		<form method=post action='/login'>
			<input name=user type=text value=user>
			<input name=password type=password value='password'>
			<input type=submit value='Log in'>
		</form>

<% } %>

	<div class='clear'></div>
	</header>

<% if (messages.length) { %>

	<div class='messages'>
	<% for (var i = 0; i < messages.length; i++) { %>
		<div class='message'><%= messages[i] %></div>
	<% } %>
	</div>

<% } %>

	<div class='content'>
		<h1>Hi there!</h1>
<% if (loggedIn) { %>

		<h2>Hi, <%= user.id %>!</h2>

		<p>Balance: <%= user.balance %>
		<p>Fill up your account balance by sending bitcoins to (TODO insert address).

<% } else { %>

		<h2>The Gimme button is the awesomest way to collect micro-donations.</h2>

		<p>Try it: <iframe src='/button' style='border: 1px solid #ccc; vertical-align: -40px' width=150 height=80></iframe>

		<p>Create a new account <a href='/new'>here</a> to get started!

<% } %>
	</div>
</body>
