<!doctype html>
<meta charset=utf-8>
<title>Hi</title>
<link rel=stylesheet href='style.css'>
<body>

	<header>

<% if (loggedIn) { %>

		<p>Logged in as <%= user.id %>. <a href='/logout'>Log out</a>

<% } else { %>

		<form method=post action='/login'>
			<input name=user type=text value=user>
			<input name=password type=password value='password'>
			<input type=submit value='Log in'>
		</form>

<% } %>

	<div class='clear'></div>
	</header>


<% if (messages.length) { %>

	<div class='messages'>
	<% for (var i = 0; i < messages.length; i++) { %>
		<div class='message'><%= messages[i] %></div>
	<% } %>
	</div>

<% } %>

	<div class='content'>
		<h1>Hi there!</h1>
<% if (loggedIn) { %>

		<h2>Hi, <%= user.id %>!</h2>
<% } else { %>

<p>Create a new account <a href='/new'>here</a>.

<% } %>

		<p style=''>Hello hello hell
			Hello hello hell
			Hello hello hell
			Hello hello hell
			Hello hello hell
				Hello hello hell
					Hello hello hell
				Hello hello hell
					Hello hello hell
				Hello hello hell
					Hello hello hell
				Hello hello hell
					Hello hello hell
						Hello hello hell
							Hello hello helloooooo

	</div>
</body>
