<!doctype html>
<meta charset=utf-8>
<title>Hi</title>
<body>
	<form method=post action='/login'>
		User <input name=user type=text>
		Password <input name=password type=password>
		<input type=submit value='Log in'>
	</form>
</body>
