<!doctype html>
<meta charset=utf-8>
<title>New user</title>
<link rel=stylesheet href='style.css'>
<body>
	<header>
		<p>&nbsp;</p>
		<div class='clear'></div>
	</header>

<% if (messages.length) { %>

	<div class='messages'>
	<% for (var i = 0; i < messages.length; i++) { %>
		<div class='message'><%= messages[i] %></div>
	<% } %>
	</div>

<% } %>

	<div class='content'>
		<h1>Welcome, dear human!</h1>

		<h2>The new age of micro-donations is just seconds away.</h2>

		<p>Enter your email and password to create an account.

		<form method=post action='/new'>
			<div>
				Email <input name=user type=text value=user>
			</div>
			<div>
				Password <input name=password type=password value='password'>
			</div>
			<div>
				<input type=submit value='Create account'>
			</div>
		</form>
	</div>

</body>
